<div class="container">
  <h3 mat-dialog-title>Customer id: {{data.id}}</h3>

  <form class="mat-dialog-content" [formGroup]="editForm">

    <div class="form">
      <mat-form-field color="accent">
        <input matInput #input class="form-control" placeholder="First Name" formControlName="name" name="name" required  >
        <mat-error *ngIf="submitted && control.name.errors">
          Please complete the first Name
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <input matInput #input class="form-control" placeholder="Last Name" formControlName="last_Name1" name="last_Name1" required >
        <mat-error *ngIf="submitted" >
          Please complete the last name
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form">
        <mat-form-field color="accent">
          <input matInput #input class="form-control" placeholder="Document Number" formControlName="document_Number" name="document_Number" maxlength="8" required >
          <mat-error *ngIf="submitted" >
            Please complete the document number
          </mat-error>
        </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <input matInput placeholder="Telephone" type="number" formControlName="telephone" name="telephone">
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <input matInput placeholder="Email" formControlName="email" name="email" > 
        <mat-error *ngIf="submitted" >
          Please enter a valid email address
        </mat-error>
      </mat-form-field>
    </div>

    <div mat-dialog-actions>
      <button mat-button (click)="onSubmit()" [disabled]="!editForm.valid" >Save</button>
      <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
    </div>
  </form>
</div>
